@charset "utf-8";

/* MAIN */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, .h1 {
    font-size: 2.25rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb a {
    color: rgb(133, 137, 138);
}

.breadcrumb li.active {
    color: rgb(23, 44, 65);
}

.bg-gray {
    background-color: rgb(221, 221, 224) !important;
}

/* BUTTONS */
.btn {
    font-size: 14px;
    color: rgb(23, 44, 65);
    line-height: 1;
    padding: 5px 8px;
    border: 1px solid rgb(23, 44, 65);
    border-radius: 14px;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-red {
    background-color: rgb(173, 26, 39);
    border-color: rgb(173, 26, 39);
    color: rgb(255, 255, 255);
}

.btn-red:hover {
    background-color: rgba(173, 26, 39, .75);
    color: rgb(255, 255, 255);
}

/* CATEGORY */
.category {
    padding: 1.5rem 0 2.5rem;
    background-color: rgb(221, 221, 224);
}

.category .category-card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 1px solid rgb(194, 194, 194);
    border-bottom: 2px solid rgb(173, 26, 39);
}

.category-image-container {
    text-align: center;
}

.category .summary p {
    line-height: 1.2rem;
}

.models-list {
    padding: 1.5rem 0;
}

.models-list .card {
    border: 1px solid rgb(194, 194, 194);
    border-bottom: 2px solid rgb(173, 26, 39);
    border-radius: 0;
    margin-top: 1.25rem;
    height: 60vh;
}

.models-list .card-img-top {
    width: 250px;
    height: 250px;
}

.models-list .card-img-overlay {
    top: 39px;
    padding: 0;
}

.models-list .card-body {
    padding: 1rem .75rem;
}

.models-list .card-desc {
    font-size: 1.2rem;
    line-height: 1;
    padding: 0 .5rem 1rem;
    border-bottom: none;
    height: 4.2rem;
}

.models-list .card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

/* MEDIA */

@media (max-width: 767px) {
    .h1, h1 {
        font-size: 2rem;
    }

    .h2, h2 {
        font-size: 1.75rem;
    }

    .h3, h3 {
        font-size: 1.5rem;
    }
}