.galleryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 50px;
    background-color: #fff;
}

.galleryContainer img {
    width: 25vw;
    height: 50vh;
    padding: 15px;
    transition: .5s;
}

.galleryContainer img:hover {
    transform: scale(1.1);
}

.modalAdd {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftContainer {
    display: flex;
    align-items: center;
}

.imgAdd {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.labelAdd {
    margin-bottom: 10px;
    color: gray;
    font-weight: 600;
}

.inputAdd {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.inputAdd:focus {
    outline: none;
}

.inputAdd:hover {
    background-color: #f1f1f1;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.buttonAdd {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}

select {
    cursor: pointer;
}
