@charset "utf-8";

/* MAIN */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, .h1 {
    font-size: 2.25rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb a {
    color: rgb(133, 137, 138);
}

.breadcrumb li.active {
    color: rgb(23, 44, 65);
}

.bg-gray {
    background-color: rgb(221, 221, 224) !important;
}

/* BUTTONS */
.btn {
    font-size: 14px;
    color: rgb(23, 44, 65);
    line-height: 1;
    padding: 5px 8px;
    border: 1px solid rgb(23, 44, 65);
    border-radius: 14px;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-red {
    background-color: rgb(173, 26, 39);
    border-color: rgb(173, 26, 39);
    color: rgb(255, 255, 255);
}

.btn-red:hover {
    background-color: rgba(173, 26, 39, .75);
    color: rgb(255, 255, 255);
}

.action {
    margin: 10px;
    float: right;
    color: black;
    cursor: pointer;
}

/* CATEGORY */
.category {
    padding: 1.5rem 0 2.5rem;
    background-color: rgb(221, 221, 224);
}

.category .category-card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 1px solid rgb(194, 194, 194);
    border-bottom: 2px solid rgb(173, 26, 39);
}

.category-image-container {
    text-align: center;
}

.category .summary p {
    line-height: 1.2rem;
}

.models-list {
    padding: 1.5rem 0;
}

.models-list .card {
    border: 1px solid rgb(194, 194, 194);
    border-bottom: 2px solid rgb(173, 26, 39);
    border-radius: 0;
    margin-top: 1.25rem;
}

.models-list .card-img-top {
    width: 250px;
    height: 250px;
}

.models-list .card-img-overlay {
    top: 39px;
    padding: 0;
}

.models-list .card-body {
    padding: 1rem .75rem;
}

.models-list .card-title {
    font-size: 1.2rem;
    line-height: 1;
    padding: 0 .5rem 1rem;
    border-bottom: 1px solid rgb(194, 194, 194);
    height: 4.2rem;
}

.models-list .card-text {
    font-size: .9rem;
    line-height: 1;
    padding: 0 .5rem;
    color: rgb(134, 137, 138);
    height: 7.8rem;
}

.models-list .card-footer {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    height: 3.125rem;
    padding: .75rem;
}

.models-list .card-footer .col {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(173, 26, 39);
    font-size: 14px;
    line-height: 1;
    padding: 6px 5px 5px 15px;
}

.models-list .card-footer .price {
    font-family: 'Source Sans Pro', sans-serif;
}

.models-list .card-footer .col-auto {
    padding-left: 5px;
}

/* MEDIA */

@media (max-width: 767px) {
    .h1, h1 {
        font-size: 2rem;
    }

    .h2, h2 {
        font-size: 1.75rem;
    }

    .h3, h3 {
        font-size: 1.5rem;
    }
}
